ul, li {
	margin:0;
	padding:0;
}
body {
	margin:0;
	background:url(images/main_bg.png) fixed top center;
	position:relative;
}
#background {
	height:100%;
	width:100%;
	background:url(ultra_images/main_bg.png) top left;
}
#header-css {
	height:178px;
	width:100%;
	min-width:1250px;
}
#hd {
	width:990px;
	margin:0 auto;
}
#logo {
	float:left;
	margin:5px 0 0 20px;
}

#selcity {
	background:none !important;
	border-top:none;
	border-radius:0 0 5px 5px;
	float:left;
	left:0px !important;
	height:20px !important;
	top:0 !important;
}
#selcity a {
	background:url(ultra_images/cities_icon.png) center left no-repeat;
	font:bold 18px Museo;
	color:#555;
	text-decoration:none;
	padding:0px 10px 0 30px;
	float:left;
}
#selcity span {
	background: url("ultra_images/arrow_up.png") no-repeat scroll right center transparent;
	padding-right: 20px;
	text-align: center;
	float:left;
}

.login_buttons {
	margin:0 0 0 10px;
	padding:10px;
	float:left;
}
.login_buttons ul {
	list-style-type:none;
	float:left;
	margin:0;
	padding:0;
}
.login_buttons li {
	float:left;
	margin:0;
	padding:0 10px 0 15px;
	background:url(ultra_images/dot.png) no-repeat center left;
}
.login_buttons li.first {
	background:none;
}
.login_buttons a {
	font:12px Tahoma, Geneva, sans-serif;
	color:#FFF;
	text-decoration:none;
}
#buttons {
	float: left;
	width:100%;
	background: #055892;
	background: -moz-linear-gradient(top, #055892 0%, #00476f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#055892), color-stop(100%,#00476f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #055892 0%,#00476f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #055892 0%,#00476f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #055892 0%,#00476f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #055892 0%,#00476f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#055892', endColorstr='#00476f',GradientType=0 );
	margin:20px 0 0;
}
#buttons-content {
	margin:0px auto;
	width: 990px;
}
#buttons ul {
	list-style-type:none;
	float:left;
	margin:0;
}
#buttons li {
	list-style-type:none;
	float:left;
	margin:0;
	padding:0 0px 0 0;
	border-right: 1px solid #1c5f88;
}
#buttons li.last {
	list-style-type:none;
	float:left;
	margin:0;
	padding:0 0 0 0;
}
#buttons li.last{ border:none;}
#buttons a {
	/* For WebKit (Safari, Google Chrome etc) */

	color: #FFFFFF;
	float: left;
	font: 13px Arial, Helvetica, sans-serif;
	padding: 10px 22px;
	text-decoration: none;
	border-bottom:none;
	line-height:21px;
}
#buttons a:hover, #buttons a.current {
	/* For WebKit (Safari, Google Chrome etc) */

}
#buttons a:hover .deal_ofthe_day{background: url("ultra_images/deal_ofthe_day.png") no-repeat scroll left -19px !important; color:#fff771;}
#buttons a:hover .insta_deals{background: url("ultra_images/insta_icon.png") no-repeat scroll left -31px !important;color:#fff771;}
#buttons a:hover .deal_zone{background: url("ultra_images/deal_zone_icon.png") no-repeat scroll left -18px !important;color:#fff771;}
#buttons a:hover .upcoming_deals{background: url("ultra_images/upcoming_icon.png") no-repeat scroll left -19px !important;color:#fff771;}
#buttons a:hover .howit_works{background: url("ultra_images/how_itworks_icon.png") no-repeat scroll left -19px !important;color:#fff771;}
#buttons a:hover .deals_map{background: url("ultra_images/deals_map_icon.png") no-repeat scroll left -21px !important;color:#fff771;}
#buttons a:hover .business{background: url("ultra_images/business_icon.png") no-repeat scroll left -20px !important;color:#fff771;}
#header_box {
}
#bd {
	margin:0 auto;
	width:990px;
	min-height:500px;
	padding:10px 20px;
	background: #fff;
}
#content {
	width:700px;
	float:left;
	min-height:500px;
}

#deal-intro {
	

}
#deal-intro .side .digest {
	background:none no-repeat 0 0;
	font:13px Tahoma, Geneva, sans-serif;
	color:#333333;
	float:left;
	line-height:18px;
	padding:5px 0 10px;
}
.panel {
	-moz-border-radius:2px;
	-moz-box-shadow:none !important;
	-webkit-border-radius:2px;
	-webkit-box-shadow:none !important;
}
#sidebar .box {
	background:#ffffff;
	margin:-8px 0 10px 0;
	overflow:hidden;
	padding:0;
	position:relative;
	z-index:10;
	width:265px;
}
.box {
	margin:10px;
	background:#FFF;
	border-radius:5px;
	float:left;
	padding:20px;
}
#slidbar {
	width:263px;
	min-height:500px;
	float:right;
	margin:0;
}
#sidebar {
	float:right !important;
	width:263px;
	padding:15px 0 0;
}
.box_middle {
	padding:10px;
	border:1px solid #ebe5e5;
}
#sidebar .box h6 {
	border-radius: 5px 5px 0 0;
background: #055892;
background: -moz-linear-gradient(top, #055892 0%, #00476f 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#055892), color-stop(100%,#00476f));
background: -webkit-linear-gradient(top, #055892 0%,#00476f 100%);
background: -o-linear-gradient(top, #055892 0%,#00476f 100%);
background: -ms-linear-gradient(top, #055892 0%,#00476f 100%);
background: linear-gradient(to bottom, #055892 0%,#00476f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#055892', endColorstr='#00476f',GradientType=0 );
	font:bold 1.2em/1.5 Museo, Helvetica, Arial, sans-serif;
	text-shadow:none;
	padding:5px 10px;
 width:100% float:left;
	padding:8px 20px;
	font:15px 'arial';
	color:#FFFFFF;
	}
#deal-intro-proparties {
	background:#FFFFFF;
	border: 0 solid #666666;
	clear: both;
	z-index: 10;
	margin: 17px 0 0;
	overflow:hidden;
	border-radius: 2px 2px 2px 2px;
}
#content #sub {
	box-shadow:0 0 15px #ccc;
	border-radius:2px;
}
a.liteblue {
	background: #110f10; /* for non-css3 browsers */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65636', endColorstr='#110f10') !important; /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#65636), to(#110f10)) !important; /* for webkit browsers */
	background: -moz-linear-gradient(top, #65636, #110f10) !important; /* for firefox 3.6+ */
	border: 1px solid #ccc !important;
	box-shadow:0 0 0px #404040;
}
a.large {
	font: 15px 'arial' !important;
height: 30px;
padding: 14px !important;
text-shadow: none !important;
width: 262px;
}
a.r23 {
	border-radius:5px !important;
}
.bottombar {
	background: #f8f8f8;
padding: 22px 59px;
text-align: center;
margin: 20px 0 30px;
clear: both;
border: 1px solid #e9e9e9;
float: left;
}
#deal-intro h1 {
	font-family:arial;
	font-size:24px;
	padding:5px 10px 10px 0px;
	margin-bottom:10px;
	text-shadow: #fff 0px 1px;
	color:#5b5b5b;
}
#deal-intro-proparties h3 {
	font-family: 'arial';
font-size: 15px;
padding: 10px;
color: #fff;
background: #5b5b5b;

}
.stats {
float: left;
width: 242px;
text-align: left;
color: #333;
font-size: 13px;
font-family: arial;
background: url(ultra_images/status_top_bg.png) no-repeat 0 0;
padding: 36px 10px;
}

.stats td{ border-bottom: 1px dashed #ccc;
padding: 8px 22px;
width: 210px;}
.stats td.sold {
	background:url(ultra_images/sold.png) no-repeat 190px 7px;
	}
.stats td.total {
	background:url(ultra_images/total.png) no-repeat 190px 7px;
	
}
.stats td.dollars {
	background:url(ultra_images/dollars.png) no-repeat 190px 7px;
	border:none;
	
}
.stats p {
	font:14px Tahoma, Geneva, sans-serif;
	line-height:20px;
	color:#333333;
	float:left;
	width:250px;
	text-align:center;
	margin:7px 0 0 0;
}
#deals_images {
	height: 280px;
	margin-bottom: 0;
	overflow: hidden;
	width: 99.8%;
	margin:0 0 10px 0px;
	border:1px solid #e5e5e5;
}
#twitter_fb_likes {
	width:217px;
	float:left;
	margin:0 0 10px 0;
}
.time-area {
	float: left;
	color:#000;
	padding:0 0 0 40px;
	margin:0 0 0 0px;
	background:url(ultra_images/time.png) no-repeat top left;
}
.time-area .hour {
	margin-left:50px;
}
.time-num-text {
	float: left;
font: 18px 'arial';
text-align: center;
padding: 0px 0 0 0;
width: 40px;
line-height: 40px;
background: #42b4fc;
margin: 0 1px 0 0;
color:#fff;
}
.time-num-text span {
	font-size:15px;
}
.time-left-day-hr-txt-area {
	width: 163px !important;
padding: 10px 0 0 40px;
}
#dummy_dots {
	float:right;
	margin:5px 35px 0 0;
}
.bar {
	width:182px;
	float:left;
	margin:20px 0 0 0;
}
#grab {
	font:12px 'Museo';
	float:left;
	color:#333333;
}
.deal-discount {
	background: #dddddd; /* Old browsers */
background: -moz-linear-gradient(top, #dddddd 0%, #fefefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dddddd 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dddddd 0%,#fefefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dddddd 0%,#fefefe 100%); /* IE10+ */
background: linear-gradient(to bottom, #dddddd 0%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#fefefe',GradientType=0 );
	float:left;
	border: 1px solid #c7c7c7;
width: 270px;
border-radius: 10px;
margin:0 0 20px;
}
.value_text {
	font:12px 'Museo';
	color:#FFF;
	line-height:12px;
	width:65px;
	text-align:center;
	float:left;
	margin:2px;
}
#deal-intro-black {
	padding: 6px 15px;
z-index: 10;
margin: 15px 0 15px;
color: #555;
font-family: 'arial';
font-size: 15px;
float: right;
clear: right;
width: 96%;
background: #5b5b5b;
}
#deal-intro-black strong{ float:left; font-weight:normal; padding:6px 0 0;}
.deal-discount th {
	padding-top:0;
	line-height:28px;
		font-size:15px;
	border-width:1px 0 1px 1px;
	font-family:'arial';
	color:#6682b6;
	border-right:1px solid #cfcfcf;
	padding:5px 0;
}
.deal-discount td {
	line-height:21px;
	font-family:'arial';
	font-size:15px;
	color:#6682b6;
	border-right:1px solid #cfcfcf;
}
.deal-discount tr {
	border:none;
}
#value {
	font:20px 'Museo';
	color:#1a91c6;
	float:left;
	width:65px;
	text-align:center;
	margin:5px 0 0 0;
}
#discount {
	font:20px 'Museo';
	color:#1a91c6;
	float:left;
	width:65px;
	text-align:center;
	margin:5px 0 0 0;
}
#yousave {
	font:20px 'Museo';
	color:#1a91c6;
	float:left;
	width:65px;
	text-align:center;
	margin:5px 0 0 0;
}
#buy {
	width:155px;
	height:59px;
	background:url(ultra_images/buy_button.png) top left;
	float:right;
	margin:5px 0 0 0px;
}
#buy_text {
	font:25px 'Museo';
	color:#FFFFFF;
	float:left;
	width:155px;
	text-align:center;
	margin:15px 0 0 0;
}
.buygift {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #8695A5;
	float: right;
	margin:30px 0 5px;
	padding: 0;
}
.buygift img{ margin:-10px 0 0;}
.buygift a {
	font:14px 'arial';
	color:#3758a9;
	text-decoration:none;

}
#content_text {
	font:13px Tahoma, Geneva, sans-serif;
	color:#333333;
	float:left;
	line-height:20px;
}
#deal_buttons {
	min-width:645px;
	padding:20px;
	float:left;
	margin:20px 0 0 0;
}
/*--------______slid bar_____-------*/

.box_left {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 2px 2px 2px 2px;
	margin: -10 0 10px;
	width: 265px;
	float:right;
}
.box_left h6 {
	background:#000;
	padding:8px 20px;
	font:15px 'arial';
	color:#FFFFFF;
	border-radius:5px 5px 0 0;
	background: #055892; /* Old browsers */
background: -moz-linear-gradient(top, #055892 0%, #00476f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#055892), color-stop(100%,#00476f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #055892 0%,#00476f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #055892 0%,#00476f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #055892 0%,#00476f 100%); /* IE10+ */
background: linear-gradient(to bottom, #055892 0%,#00476f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#055892', endColorstr='#00476f',GradientType=0 );
}
.black_header span {
	font-size:18px;
}
.sdtitle {
	padding:0 13px;
	font-family:Tahoma, Geneva, sans-serif;
	float:left;
	color:#333;
	font-size:14px;
	line-height:20px;
}
.sdcontainer {
	margin:10px;
	background:#FFF;
	border-radius:2px;
	float:left;
}
.sdcontainer_img span {
	margin:10px;
	font:14px Tahoma, Geneva, sans-serif;
	color:#333333;
	float:left;
	width:140px;
	line-height:20px;
}
.sdcontainer_img span a {
	text-decoration:none;
}
.sdcontainer_img {
	width:233px;
	float:left;
	padding:10px;
}
#footer {
	width:100%;
	background:url(ultra_images/footer_bg.gif) repeat-x top left;
	height:380px;
	clear:both;
	min-width:1250px;
}
ul#new_demo {
	float:left;
	list-style-type:none;
	padding:4px 0 20px;
}
ul#new_demo li {
	float: left;
	padding: 35px 10px;
	text-align: center;
	vertical-align: middle;
	width: 200px;
	background:url(ultra_images/footer_top_divider.gif) no-repeat center right;
}
ul#new_demo a {
	color: #222;
text-decoration: none;
font: 17px Arial, Helvetica, sans-serif;
text-shadow: 0 0 2px #fff;
}
ul#new_demo li.last {
	background:none;
}
ul#new_demo a:hover {
	color:#000;
}
.about {
	float:right;
	width:290px;
	padding:10px 20px;
	margin:25px 0 0;
	color:#3859a8;
	font-weight:normal;
	font:13px Arial, Helvetica, sans-serif;
}
.about p {
}
.fallow_us {
padding: 15px 0 10px;
font: bold 15px Arial, Helvetica, sans-serif;
color: #3859a8;
clear: left;
margin: 0px 0 0;
float: right;
width: 250px;
border-bottom: 1px solid #fff;
}
.fallow_us p {
	margin:0;
	float:left;
	padding:0 20px 0 0;
}
.fallow_us img {
	margin:-12px 0px 0 10px;
}
.mobile_version {
	background: url(ultra_images/mobile_version.png) no-repeat left 10px;
float: right;
margin: 0px 0px 0 20px;
padding: 35px 0px 30px 97px;
width: 184px;
border-top: 1px solid #ddd;
}
.mobile_version p {
	margin:0;
	font:bold 18px Arial, Helvetica, sans-serif;
	color:#3859a8;
	text-align:right;
}
ul#footer_nav {
	float: left;
list-style-type: none;
padding: 0px 10px;
width: 177px;
	
}
ul#footer_nav ul{ float: left;
background: #fff;
width: 100%;
padding: 10px 0;}
ul#footer_nav ul li {padding:0 0 0 10px;}
ul#footer_nav span {
	color:#069;
	text-transform:uppercase;
}
ul#footer_nav li {
	margin:0;
	padding:0 0 0 0px;
	float:left;
	clear:left;
	line-height:22px;
}
.container {
	margin:0 auto;
	width:990px;
}
ul#footer_nav a {
	font:13px Arial, Helvetica, sans-serif;
	color:#555;
	text-decoration:none;
}
ul#footer_nav a span {
	color:#289dfa;
	font-weight:bold;
	padding:0 0 5px;
	float:left;
	margin:0 0 0 -20px
}
ul#footer_nav.last {
	background:none;
}
ul#footer_nav a:hover, ul#footer_nav a span:hover {
	text-decoration:underline;
}
.twitter {
	background:url(ultra_images/socialnetwork_bar.png) right no-repeat;
	right:0;
	position:absolute;
	top:50%;
}
#deal-intro .side {
	margin-left:0;
	width:100%;
}
#deal-intro .main {
	width:100%;
	position:relative;
}
#deal-timeleft {
	color:#fff !important;
	width:220px;
	height:auto !important;
	float:left;
}
.deal-box {
	border:none !important;
	background:none !important;
	margin:0;
}
.deal-timeleft {
	background:none;
	margin-top:0 !important;
}
.deal-status {
	float:left;
	padding:0px 0px;
	width:500px;
	margin:8px 0 20px 0px;
}
.deal-buy-on {
	font-size: 13px;
background: url(default/deal_status_bg.png) no-repeat top left;
float: left;
width: 370px;
padding: 1px 0 10px;
color: #fff;
}
.deal-buy-on img {
	width:auto;
	height:auto;
	top:6px;
}
.deal-buy-tip-top {
	margin:5px 10px 0 0 !important;
	border:none;
	float:left;
}
#deal-intro .deal-price strong {
	background:url(ultra_images/price_banner.png) no-repeat top left;
	height: 67px;
	left:-11px;
	line-height:34px !important;
	padding-left:0px;
	position: absolute;
	width:auto;
	padding:4px 10px;
	z-index: 2;
	top:-271px;
	width:100px;
	font-size: 22px;
	text-shadow:0px -1px #545352 !important;
	font-family:'Museo';
}
#deal-intro .deal-price {
	height: 10px;
	left: 0px;
	line-height:0 !important;
	padding-left: 0px;
	position: absolute;
	width: 237px;
	z-index: 2;
}
#deal-intro .deal-price span {
	background:url(ultra_images/buy_button.png) no-repeat top left;
	color: #FFFFFF;
	left:521px;
	position: absolute;
	top: 158px;
	text-align:center;
	z-index: 2;
}
#deal-intro .deal-price span a {
	display: block;
	font: 25px 'Museo';
	margin-top:0px;
	height:0;
	line-height:0;
	padding:24px 120px 24px 15px;
	color:#fff;
	width:100%;
	outline: 0 none;
}
#deals_images #img_list {
	float: right;
	left: 604px;
	position: absolute;
}
#deals_images .mid {
	height: 286px !important;
	padding: 0;
	position: relative;
	width: 100%;
}
#deals_images .mid ul {
	height: 280px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.bg-alt {
	background:url(ultra_images/main_bg.png) no-repeat top left;
	z-index:10;
}
#footer_navigation {
	float:left;
	width:67%;
}
.ui-widget-header {
	background:url(ultra_images/ui-tabs-bg.gif) repeat-x top left !important;
	border:none !important;
}
.ui-tabs .ui-tabs-nav {
	padding:0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border:none !important;
	background:url(ultra_images/ui-tabs-bg.gif) repeat-x top left !important;
}
.ui-widget-content {
	padding:0 0 20px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: url("images/ui-bg_inset-hard_100_f5f8f9_1x100.png") repeat-x scroll 50% 50% #F5F8F9 !important;
	border:none !important;
	color: #E17009;
	font-weight: bold;
	overflow:hidden;
}
.ui-tabs .ui-tabs-nav li a {
	color:#fff;
}
.ui-tabs .ui-tabs-nav {
	padding:0 !important;
}
.ui-tabs .ui-tabs-nav li {
	top:0 !important;
}
.ui-tabs-finte-print {
	padding:15px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	color:#000;
}
.ui-tabs {
	padding:0 !important;
}

.divider {
	float:left;
	width:100%;
	height:3px;
	margin:0 0 10px;
	background:url(ultra_images/divider.png) repeat-x top left;
}
#header_shadow {
	
	width:100%;
	float:left;
}
#topnav a.signin {
color: #000;
float: left;
padding: 8px 20px;
text-decoration: none;
font: normal 13px arial;
text-transform: capitalize;
border-left:1px solid #ddd;
border-right:1px solid #fff;
margin:0;
}
#topnav {

}
#topnav a.signup {
	color: #000;
float: left;
padding: 8px 20px;
text-decoration: none;
font: normal 13px arial;
text-transform: capitalize;
border-left:1px solid #ddd;
}
#jshare_button {
	bottom: 80px;
	height: 110px;
	overflow: visible;
	position: fixed;
	right:6px !important;
	top: 37% !important;
	visibility: visible;
	width: 50px;
	z-index: auto;
}
#deal-intro-black span {
	float:right;
	font:14px Arial, Helvetica, sans-serif;
	color:#fff;
	background: #3757a6; /* Old browsers */
background: -moz-linear-gradient(top, #3757a6 0%, #192f6a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3757a6), color-stop(100%,#192f6a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #3757a6 0%,#192f6a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #3757a6 0%,#192f6a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #3757a6 0%,#192f6a 100%); /* IE10+ */
background: linear-gradient(to bottom, #3757a6 0%,#192f6a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3757a6', endColorstr='#192f6a',GradientType=0 );
	border-radius:5px;
	padding:8px 20px;
}
#deal-intro-black span a {
	color:#000000;
	text-decoration:none;
}

select {
	border:1px solid #000;
	border-radius:5px;
	color:#696969 !important;
}
#signin_menu {
	background: none repeat scroll 0 0 #fff;
	opacity:1;
	border:1px solid #ddd;
	box-shadow:0 3px 5px #ccc;
	border-width:0 1px 1px;
	border-radius:0 0 5px 5px;
	color: #fff;
	display: none;
	font-size: 11px;
	margin-right: 0;
	margin-top: 5px;
	padding: 12px;
	position: absolute;
	text-align: left;
	top: 26px;
	width: 210px;
	z-index: 100;
	left:115px;
}
#signin_menu label {
	color:#000 !important;
}
#sidebar .box .link a {
	text-decoration:none !important;
	border-bottom:none !important;
}
/*Expand css*/

.expand_top, .expand_wrapper {
	width: 700px;
	padding:0px;
	margin:0px;
	float:left;
}
h1 {
	font:20px Arial, Helvetica, sans-serif;
	color:#0174cd;
	padding: 20px 0;
}
h2.expand_heading {
	background: url("ultra_images/arrow_scroller.png") no-repeat scroll right 10px #5b5b5b;
	float: left;
	font-size: 2em;
	font-weight: normal;
	height: 25px;
	margin: 0px;
	padding: 5px 20px 10px;
	width: 660px;
}
.expand_all {
	cursor:default;
}
h2.expand_heading a {
	font:17px 'arial';
	color:#fff;
	text-decoration: none;
	display: block;
	text-align:left;
	line-height:30px;
}
h2.expand_heading a:hover {
	color:#fff;
}
h2.active {
	background-position: right -20px;
}
.toggle_container {
	margin: 0 0 5px;
	padding:15px 0 0;
	border: 1px solid #e7e7e7;
	background:none;
	overflow: hidden;
	font-size: 1.2em;
	width:698px;
	clear: both;
	background:#f8f8f8;
}
.toggle_container .box {
	padding: 0px 15px 0px;
	float:left;
	width:200px;
	margin:0;
	border-right: 1px solid #eee;
border-left: 1px solid #fff;
border-radius: 0;
}
.toggle_container .box p {
	clear: both;
	font: 12px arial;
	margin: 5px 0;
	padding: 5px 0;
	text-align: left;
	color:#888;
}
.toggle_container h3 {
	font:15px 'arial';
	color:#375aa5 !important;
	margin: 0 0 5px;
	padding:5px 0 5px 10px;
	border-bottom: 1px solid #e8e8e8;
	background:#eee;
}
.toggle_container img {
	float: left;
	margin: 10px 15px 15px 0;
	padding: 5px;
	background: #ddd;
	border: 1px solid #ccc;
}
.expand_all {
	width:30px;
	height:29px;
	background:url(ultra_images/arrow.png) no-repeat top left;
	float:right;
	cursor: pointer;
}
.expanded {
	background-position:bottom left;
}
.footer {
	margin:200px 0px 0px 0px;
	text-align:center;
	float:left;
	color:#ffffff;
	font-size:15px;
	overflow:hidden;
}
.footer a {
	color:#ffffff;
	font-weight:bold;
	font-size:15px;
	line-height:20px;
	text-decoration:none;
}
#deal-intro-slide {
	background:#FFFFFF;
	border: 0 solid #666666;
	clear: both;
	z-index: 10;
	margin: 17px 0 0;
	overflow:hidden;
	border-radius: 2px 2px 2px 2px;
}
#deal-intro-slide_toggle {
	
	border: 0 solid #666666;
	clear: both;
	z-index: 10;
	margin: 17px 0 0;
	overflow:hidden;
	border-radius: 2px 2px 2px 2px;
}
.map {
	height:270px !important;
}
.deal-intro-map {
	background:#f8f8f8;
	border: 1px solid #e7e7e7;
	overflow:hidden;
	padding: 10px;
	z-index: 10;
	margin: 17px 0 0;
}
.deal-intro-fb {
	background:#f8f8f8;
	border: 1px solid #e7e7e7;
	overflow:hidden;
	padding: 10px;
	z-index: 10;
	margin: 0px 0 0;
}
/*------- Deal zone --------*/

#content .head h2 {
	font:22px Museo !important;
	color:#fff !important;
	float:left;
}
#content .head {
	background:none !important;
}
#content .lowhead {
	height:auto !important;
}
.deal_zone_count {
	float:right;
	font:14px 'Museo';
	color:#ccc;
}
.deal-intro-black-trasparent-top {
	background:url(ultra_images/trasparent_black_top.png) no-repeat top left;
	height:14px;
	width:665px;
	float:left;
}
.deal-intro-black-trasparent {
	background: url("ultra_images/black_transpe.png") repeat scroll 0 0 transparent;
	border:1px solid #ddd;
	border-radius: 5px 5px 5px 5px;
	clear: both;
	margin: 16px 1px;
	overflow: hidden;
	padding:25px;
	z-index: 10;box-shadow: 0 0 15px #ccc;
	
}
.panel_deal_zone {
	width:657px;
	float:left;
	background:#FFFFFF;
	border:1px solid #F7F9FC;
	height:315px;
	position:relative;
	margin-bottom:30px;
	border-radius:5px;
}
.deals_list img.img {
	border:1px solid #f1f1f1 !important;
	min-width:315px;
	height:265px;
	float:left;
	box-shadow:none !important;
}
.deals_list li div a {
	font:14px Tahoma, Geneva, sans-serif normal !important;
	color:#393939 !important;
	line-height:20px;
}
.deal_text {
	font:14px Tahoma, Geneva, sans-serif normal !important;
	color:#919191 !important;
	margin:0;
	padding:0;
	position:absolute;
	left:338px;
	top:10px;
	width:283px;
	text-align:left;
	z-index:3;
}
#deal_button {
	background:url(ultra_images/deal.png) no-repeat left top;
	margin:0;
	padding:8px 15px;
	position:absolute;
	left:0px;
	top:13px;
	width:94px;
	height:39px;
	text-align:left;
	z-index:1;
}
#deal_button a {
	color:#fff !important;
	font:bold 14px Tahoma, Geneva, sans-serif;
}
/*business login*/

.deal-intro-black-trasparent-bussiness {
	
	border: 0 solid #666666;
	border-radius: 5px;
	clear: both;
	margin: 34px 170px;
	overflow: hidden;
	padding: 0px;
	z-index: 10;
	width:635px;
}
#coupons .filter a{background:none;
padding: 2px 10px;}
.box-business {
	width:578px;
	background:#FFFFFF;
	float:left;
	border:10px solid #333;
}
.box-business h2 {
	color:#5a5a5a;
	font:28px 'Museo';
	padding:20px;
	text-align:center;
}
#content .sect {
	border:1px solid #f1f1f1;
	width:auto;
	margin:15px 0 15px 0px;
	background:#fbfbfb !important;
}
#content .act {
	border-bottom:none !important;
	padding: 10px 10px 20px 281px;
	padding: 0 0 0 286px;
}
input[type="submit"] {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: -moz-linear-gradient(center top, #09B8E3, #0899BC) repeat scroll 0 0 transparent;
	border-color: #0CCBF9 -moz-use-text-color #097A95;
	border-left: medium none;
	border-radius: 4px 4px 4px 4px;
	border-right: medium none;
	border-style: solid none;
	border-width: 1px medium;
	box-shadow: 0 1px 0 #B2B2B2;
	color: white;
	cursor: pointer;
	display: inline-block;
	font: 14px/100% Tahoma, Geneva, sans-serif;
	font-weight:bold;
	margin:0px;
	outline: medium none;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
}
.divider-business {
	float:left;
	width:100%;
	height:1px;
	margin: 0 -14px 36px -14px;
	background:url(ultra_images/divider_small.png) no-repeat top left;
}
#content .field {
	clear: left;
	float: left;
	margin: 5px auto 10px;
	padding: 0 0 0;
	width: 100%;
}
#content .field label {
	color:#000;
}
/* how it works */

.deal-intro-black-trasparent-how_it_works {
	background:url(ultra_images/black_transpe.png);
	border: 1px solid #ddd;
	border-radius: 5px;
	clear: both;
	margin: 20px 0px;
	overflow: hidden;
	padding:10px;
	z-index: 10;
	width:970px;
	box-shadow: 0 0 15px #ccc;
}
.box-how_it_works {
	width:98%;
	background:#FFFFFF;
	float:left;
	margin:10px;
}
#banner_hiw {
	height:294px;
	width:958px;
	margin:10px auto;
}
#banner_hiw img {
	border:1px solid #dadada;
}
#box_how_it_works_box {
	padding-left:8px;
	width:950px;
	position:relative;
	min-height:800px;
}
.hiw_inner_box {
	width:950px;
	float:left;
	background:#000000;
}
#discount_text {
	font:bold 16px Tahoma, Geneva, sans-serif;
	color:#467a90;
}
#share_text {
	font:bold 16px Tahoma, Geneva, sans-serif;
	color:#e68936;
}
#print_text {
	font:bold 16px Tahoma, Geneva, sans-serif;
	color:#94ca79;
}
#coupon_text {
	font:bold 16px Tahoma, Geneva, sans-serif;
	color:#81e3e7;
}
.text_inner {
	margin:0px 0 20px 30px;
	padding:0;
	position:absolute;
	left:150px;
	top:10px;
	width:750px;
	background-color:#fff;
	text-align:left;
	z-index:0;
	color:#282727;
}
.divider_hiw {
	float:left;
	width:100%;
	height:1px;
	margin:0 0 10px;
	background:url(ultra_images/divider_big.png) no-repeat top left;
}
#content .head h1 {
	font:18px Museo !important;
	color:#000 !important;
}
.countdown_amount {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	line-height:30px;
	font-weight:600 !important;
	color: #535353 !important;
	text-shadow:none !important;
	height:300px;
	color:#000;
}
.countdown_show7 .countdown_section {
	width:7%;
}
.countdown_section {
	display: block;
	float: left;
	font-weight: normal;
	font-size: 50%;
	text-align: center;
	height:100px;
	color:#000 !important;
}
#gradd_black {
	background:#000;
repeat-x left bottom;
}
#gradd_white {
	background:#fff repeat-x left bottom;
	width:94%;
	margin:0px;
}
#gradd {
	background:#fff;
repeat-x left bottom;
	float:left;
}
.gradd {
	background:#fff url('default/head_nbg_large.jpg') repeat-x left bottom;
}
#gradd .head {
	background:none;
}
#content .head {
	padding:0px !important;
}
.paginator {
	font-size:12px;
	padding:10px 0 10px;
	text-align:right;
	white-space:nowrap;
	background:#fff;
	border-radius:2px;
}
.paginator li {
*vertical-align:middle;
	display:inline;
	margin:0 1px;
}
.paginator li.current {
*height:24px;
*line-height:24px;
	font-weight:bold;
	margin:0 6px;
}
.paginator li a {
*display:inline-block;
*height:22px;
*line-height:22px;
*padding:0 6px;
*position:relative;
	border:1px solid #bbb;
	padding:3px 6px 4px;
	text-decoration:none;
}
.paginator li a:hover {
*height:24px;
*line-height:24px;
*padding:0 7px;
	background:#00ADB2;
	border:none;
	color:#fff;
	padding:4px 7px 5px;
	text-decoration:none;
}
.paginator li a.nolink {
	color:#fff;
	cursor:default;
}
.paginator li a.nolink:hover {
*height:22px;
*line-height:22px;
*padding:0 6px;
	background:transparent;
	border:1px solid #ccc;
	padding:3px 6px 4px;
}
/*insta deals */

#content_insta {
	width:674px;
	float:left;
	min-height:500px;
}
.box_insta {
	margin:10px;
	background:#FFF;
	border-radius:5px;
	float:left;
	padding:0px;
}
#content .head h4 {
	font:52px Museo !important;
	color:#000 !important;
	background:#F1F1F1 !important;
	padding:20px !important;
}
.box_buy {
	margin:20px 0 0 30px;
	background:#FFF;
	float:left;
}
#content_buy {
	width:644px;
	float:left;
	min-height:500px;
}
#sidebar_buy {
	float:right !important;
	width:263px;
	padding:28px 0 0;
	margin:0 20px 0 0;
}
#sidebar_buy .box h6 {
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	font:bold 1.2em/1.5 Museo, Helvetica, Arial, sans-serif;
	text-shadow:none;
	padding:5px 10px;
 width:100%; float:left;
	background:#000;
	padding:10px;
	font:16px 'Museo';
	color:#FFFFFF;
	border-radius:2px 2px 0 0;
}
#sidebar_buy .box {
	background:#fff;
	margin:-8px 0 10px 0;
	overflow:hidden;
	padding:0;
	position:relative;
	z-index:10;
	width:265px;
}
#sidebar_buy .box p {
background: #f1f1f1;
padding: 10px;
float: left;
line-height: 15px;
}
#sidebar_buy .box h3 {
	background:#f1f1f1;
	padding:2px 10px;
}
#deal-buy .sect {
	padding:0px !important;
}
.box-buy {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	margin: 0;
	width: 100%;
}
#deal-buy table {
	border:solid 1px #f1f1f1 !important;
}
#deal-buy .order-table th {
	background:#f1f1f1 !important;
	border:solid 1px #d0d0d0;
}
#deal-buy .order-table .order-total td {
	background:#f9f7f7 !important;
}
#content .head_pay h2 {
	font:18px Museo !important;
	color:#000 !important;
	padding:20px;
	background:#e5e5e5;
}
.center {
	margin:80px 0 0 190px !important;
	width:250px !important;
}
.margin_null {
	margin:0 !important;
}
#deal-buy .order-pay-credit p {
	background:#f9f7f7;
}
/*order view*/	

#order-detail .data-table th {
	width:112px !important;
}
#order-detail .info-table {
	width:157% !important;
}
.black_background_font {
	background:#000 !important;
	color:#fff !important;
	font-family:'Museo';
	font-size:120%;
	padding:12px !important;
	margin-bottom:10px !important;
}
/*pay sucess*/

#content div.success {
	background: url("default/bg-pay-return-success.gif") no-repeat scroll 90px 25px transparent;
	height: 60px;
	padding-left: 190px;
	padding-top: 50px;
}
#content .sect_pay {
	width:600px;
	background:#f1feff;
	padding:10px;
	border:1px solid #f1f1f1;
}
#content .head h2 {
	text-shadow:none !important;
}
.deal-intro-black-trasparent_small {
	background:url(ultra_images/black_transpe.png);
	border:1px solid #ddd;
	border-radius: 5px;
	clear: both;
	margin:0px auto 20px;
	box-shadow: 0 0 15px #ccc;
	overflow: hidden;
	padding:20px;
	z-index: 10;
	width:96%;
}
.bluebg_small {
	width:600px !important;
	border:1px solid #f1f1f1 !important;
	margin-top:0 !important;
}
.head_feedback {
padding: 10px 10px 10px 20px;
background: #111 !important;
color: #fff !important;
font-family: 'arial';
font-size: 16px;
box-shadow: 0 0 15px #CCCCCC;
border-radius: 2px;
height:25px;
margin-top:15px;
}
.head_feedback lowhead {
	line-height:27px;
}
#content .field .f-input {
	width:308px;
}
.content_coupon {
	width:645px !important;
}
#coupons .filter {
	top:110px !important;
	right:354px !important;
}
.box_coupon {
	margin:10px;
	background:#FFF;
	border-radius:5px;
	float:left;
	padding:0px;
}
#content .filter a {
	color:#fff !important;
}
#sidebar .box p {
	background:#f1f1f1 !important;
	margin:0px;
	padding:3px;
}
#sidebar .box h3 {
	background:#f1f1f1;
	padding:0 0 0 10px;
}
.coupons-table {
	background:#fff;
}
/*my order*/

.content_order {
	width:920px !important;
}
.box_order {
	width:100%;
	margin:10px;
	background:#FFF;
	border-radius:5px;
	float:left;
	padding:0px;
}
#content .filter {
	top:110px;
	right:70px;
}
.coupons-table {
	width:98%;
}
#contact {
	background-color: #FFFFFF;
	border:none !important;
 display:!important;
	margin: 0 auto;
	padding:0 !important;
	width: 600px !important;
}
#contact fieldset {
	
	border: 0 solid #EEEEEE !important;
	border-radius: 0 0 0 0;
	margin: 0 0 10px -20px;
	padding: 20px;
}
#contact legend {

}
#maillist .enter-address {
	border:none !important;
}
#maillist .sect {
	height:327px;
 margin:
}
#sidebar ul {
	margin:0;
	float:left;
	padding:0;
}
#sidebar li {
	font-size: 14px;
	height: 25px;
	list-style: none outside none;
	margin: 3px;
	margin-top:10px;
	text-indent: 0;
	width:215px !important;
	margin:0px 15px !important;
	padding:5px 10px;
}
#poiList li {
	padding:3px 12px 17px !important;
}
.visibleLayer {
	font-size: 14px;
	height: 35px !important;
	line-height: 15px;
	list-style: none outside none;
	margin: 3px;
	text-indent: 0;
	width:216px !important;
	margin:2px 15px !important;
	border:none !important;
}
#sidebar .box h5 {
	background: url("ultra_images/select catogary.png") repeat scroll 0 0 transparent;
	border-radius: 2px 2px 0 0;
	color: #FFFFFF;
	font: 16px 'Museo';
	height: 20px;
	padding: 15px 10px;
	text-shadow: none;
	margin:10px 0 0 15px;
}

#slide_panel {
	min-width:1250px !important;
}
#content .sect_coupon {
	border:1px solid #f1f1f1;
	width:620px;
	margin:15px 0 15px 0px;
	background:#fbfbfb !important;
}
#credit .paginator {
	background:#fff !important;
	border:1px solid #f1f1f1 !important;
}
#content .wholetip {
	width:556px !important;
	background:#f1f1f1 !important;
	left:0px !important;
}
#content .sect_settings {
	border:1px solid #f1f1f1;
	width:600px;
	margin:15px 0 15px 0px;
	background:#fbfbfb !important;
}
#content .wholetip h3 {
	color:#484848 !important;
}
.sidebar_settings {
	padding:9px 0 0 !important;
}
.past.deals_list li {
	background: none repeat scroll 0 0 #F1F1F1;
	display: inline-block;
	margin: 16px 15px 0 0;
	padding: 0 0 10px;
	position: relative;
	width: 252px;
}
.past.deals_list li .info .bought {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #76A045;
	width: 50px;
}
.sidebar_rig {
	padding:29px 14px !important;
}
.head_faq {
	background: none repeat scroll 0 0 #000000 !important;
	color: #FFFFFF !important;
	font-family: 'Museo';
	font-size: 20px;
	margin:0px 0px 20px 0;
	padding:5px 10px 5px 20px;
}
#help .faq .sect {
	padding: 15px 10px 10px;
	width: 660px;
}
#contact input.submit {
	padding:0px !important;
}
.sdcontainer {
	cursor: pointer;
	font-family: arial, verdana;
	height: 230px !important;
	overflow: hidden;
	position: relative;
	width: 240px;
}
a.next {
	margin-left:166px !important;
}
#loopedSlider, #newsSlider {
	height:260px !important
}
.dashboard {
	background:none !important;
}

/*deals_buy*/

.buy_tab {
	width:600px;
	float:left;
	margin:20px 0 0 20px;
	background:url("ultra_images/slide_buy.png") no-repeat!important;
	width:94%;
	padding:10px 20px;
}
.buy_tab ul {
	font:12px Tahoma, Geneva, sans-serif #666;
	list-style:none;
}
.buy_tab ul li {
	font:12px Tahoma, Geneva, sans-serif;
	margin:0 5px;
	float:left;
	background:url("ultra_images/arrow_buy.png") no-repeat right 6px !important;
	padding:0 20px 0 0;
}
.buy_tab ul li a {
	font:15px Tahoma, Geneva, sans-serif;
}
.buy_tab ul li a:hover {
	font:15px Tahoma, Geneva, sans-serif;
	text-decoration:underline !important;
}
.buy_heading {
	margin:20px;
	float:left;
	width:550px;
	font:22px Museo;
}
.buy_heading a {
	font:20px Museo !important;
	color:#333333;
	text-decoration:none;
}
.buy_heading a:hover {
	font:20px Museo !important;
	color:#333333;
	text-decoration:none;
}
.side_buy {
	width:265px;
	margin:20px 20px 0 0;
	float:right;
}
.side_buy_inner_box {
	width:250px;
	padding:10px;
	border:1px solid #dcdcdc;
	min-height:150px;
	float:right;
	margin:0 0 15px;
	background:#fafafa;
	box-shadow:2px 2px 5px #efefef;
	font:normal 13px Arial, Helvetica, sans-serif;
}
.side_buy_inner_box em {
	background: url("ultra_images/heading_background_buy.png") no-repeat scroll 0 28px transparent !important;
	font: bold 14px Tahoma, Geneva, sans-serif;
	height:20px;
	padding: 0 0 25px 15px;
	width: 240px;
	float:left;
}
.side_buy_inner_box span {
	float:left;
	margin:0 15px 0 0px;
}
.side_buy_inner_box_location {
	background: url("ultra_images/heading_background_buy.png") no-repeat scroll 0 28px transparent !important;
	font: bold 14px Tahoma, Geneva, sans-serif;
	height: auto;
	padding: 0 0 25px 37px;
	width: 250px;
}
.buy_image_banner {
	float:left;
	margin:0 0 0 20px;
}
a.buy_button {
	background: url("ultra_images/buy_button.gif") no-repeat scroll left top transparent !important;
	color: #FFFFFF;
	float: left;
	font: bold 22px Arial, Helvetica, sans-serif;
	margin: 10px 38px;
	padding: 10px 66px;
}
/*cities_block*/

#dialog {
	background:url(ultra_images/citys_transparent_bg.png) repeat-y top left #000 !important;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	padding: 0;
	position: fixed;
	width: 840px;
	z-index: 200;
	border:10px solid #433c3c;
	border-radius:15px;
}
#dialog-content-inner {
	background:#fff;
}
.promptheader {
	background:none !important;
	border:none !important;
}
.prompt {
	background:none !important;
	border:none !important;
}
.popCityList {
	display: block;
	font-family: Museo, Arial, Verdana;
	margin: 0 auto;
	width: 800px;
	background:none !important;
	border-radius:8px;
	padding:10px;
	border:none !important;
}
.popCityList li {
	background: none repeat scroll 0 0 #e5e5e5;
	border: 1px dashed #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	display: block;
	float: left;
	font-size: 13px;
	margin: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 170px;
}
.popCityList li a {
	color:#333 !important;
}
#dialog-content-inner {
	font: 15px arial;
	min-height: 128px;
	text-align: center !important;
	background: url("ultra_images/cities_background.png") no-repeat scroll center -110px transparent !important
}
.popCityList {
	display: block;
	font-family: Museo, Arial, Verdana;
	margin: 0 auto;
	width: 732px !important;
}
.popCityList li a:hover {
	background:none !important;
}
.citys_bg {
	background: url("ultra_images/citys_bottom_img.png") no-repeat scroll left top transparent !important;
	display: block;
	height: 200px;
	position: absolute;
	right: -34px;
	top: 342px;
	width: 200px;
}
#dialog-header {
	color: #CCCCCC !important;
	display: block;
	font-size: 15px;
	font-weight: bold;
	height: 14px;
	padding: 8px 6px 7px 371px !important;
	position: relative;
	text-align: center;
}
#dialog-content {
	background:#fff !important;
}
#dialog-mask {
	opacity:0.6 !important;
}
/*tabs*/

#box_buy {
	margin: 15px;
	width: 600px;
	text-align: left;
	border: 1px solid #ccc;
	float:left;
}
#menu {
	overflow: hidden;
	background: -moz-linear-gradient(top, #393939, #060606);
	background: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#060606), color-stop(1, #fff));
	background: linear-gradient(top, rgba(40,34,32,1), rgba(22,18,17,1));
}
#menu li {
	float: left;
	width: 99px;
}
#menu li a {
	float: left;
	width: 99px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 16px;
	padding: 15px 0;
	text-align: center;
	z-index: 10;
	position: relative;
}
#menu li a:hover {
	background: #fff;
	text-decoration: none;
	color:#000;
}
#boxes_buy {
	position: relative;
	min-height: 250px;
	overflow:hidden;
}
#boxes h1, #boxes h2, #boxes h3 {
	font-size: 16px;
	font-weight: bold;
}
.box_buy:target, .box:first-child {
	display: block;
}
.box_buy {
	padding:12px;
	display: none;
	position: absolute;
	top:0;
	left:0;
	width: 276px;
	min-height: 226px;
	background: #fff;
}
.box_buy:target span {
	height: 32px;
	width: 99px;
	background: #fff;
	display: block;
	position: absolute;
	top: -32px;
	z-index:0;
}
#about span {
	left:0;
}
#friends span {
	left:100px;
}
#stuff span {
	left:200px;
	width: 100px;
}
.box_buy ul, .box p {
	line-height: 1.5em;
	padding-top: 1em;
}
#boxes a {
	color: #ff0000;
}
.box_buy li a {
	display: block;
	line-height: 2.2em;
	font-size: 14px;
	margin-bottom: 6px;
	padding-left: 10px;
	border-left: 1px solid #bbb;
}
#boxes_buy ul li a:hover {
	color: #fff;
	font-weight: bold;
	background: #999;
	text-decoration: none;
	border-left: 1px solid #555;
}
.time-left-day-hr-txt-area-box {
	width:40px;
}
#user_fb {
}
#deals_images .mid {
	height:320px;
	padding:0;
	position:relative;
	width:100%;
}
#deals_images .mid ul {
	height:280px;
	overflow:hidden;
	position:relative;
	width:100%;
}
#deals_images .mid ul li {
	height:280px;
	left:750px;
	position:absolute;
	top:0;
	width:100%;
}
#deals_images .mid ul .first {
	left:0;
}
#deals_images #img_list {
	float:right;
	position:relative;
}
#deals_images #img_list a {
	background:url('default/slide-passive.png') no-repeat;
	border:solid 0px #333;
	color:#000;
	display:block;
	float:left;
	line-height:20px;
	margin:2px 0 0 4px;
	padding:0 5px;
}
#deals_images #img_list a.active {
	background:url('default/slide-active.png') no-repeat;
	border:solid 0px #333;
	color:#000;
	display:block;
	float:left;
	line-height:20px;
	margin:2px 0 0 4px;
	padding:0 5px;
}.deal-available{ position: absolute;
top: 0px;
right: 0;
background: url('default/locations_icon.png') no-repeat right top;
padding: 2px 15px 8px 0;}
 .deal-available a {
	height: auto !important;
	margin-right: 10px;
	float: right;
	text-align: center;
	width: auto;
	font-family: 'Lucida Sans';
	font-size: 12px;
	color: #069;
	
}
#add-address {
	cursor:pointer;
	color:#069;
	font-weight:bold;
	font-family:arial, verdana;
	font-size:12px;
	margin-left:20px;
}
.view-delas-map {
	position: absolute;
	right: -117px;
	top: 48px;
}
.view-delas-category {
	position:absolute;
	top:100px;
	right:-135px;
	z-index:999;
}
.view-delas-locations {
	position:absolute;
	top:259px;
	right:400px;
	z-index:999;
}
.payment-success-bg {
	background:url('ultra_images/success_background.png') no-repeat 0 70px;
	position:absolute;
	width:725px;
	height:425px;
}
/*inner_useful_links*/

.inner_useful_links {
	margin:90px 0 0 40px;
	box-shadow:0 0 5px #333;
	width:200px;
}
.inner_box {
	width:925px;
	min-height:425px;
	margin:16px 10px 10px 8px;
}
.inner_text_box {
	
}
#SideMenu ul {
	font: 12px 'Lucida Sans', tahoma, Arial;
	list-style: none outside none;
	margin: 0;
	padding: 5px !important;
}
#SideMenu li div {
	background: none repeat scroll 0 0 #000000 !important;
	color: #FFFFFF !important;
	left: 0;
	margin: 0;
	padding: 10px;
	position: relative;
	top: 0;
	width: 170px !important;
}
#SideMenu li a {
	color: #FFFFFF !important;
	font-weight: bold !important;
	padding-left: 20px !important;
	text-decoration: none;
}
ul.invalid li {
	height:auto !important;
}
em.share_link {
	display: block;
	float: right;
	height: 38px;
	padding: 15px 37px;
	text-align: center;
	width: 120px;
	background:url(ultra_images/share_link_bg.png) no-repeat top left;
	font:16px Arial, Helvetica, sans-serif;
	color:#ff0000;
	margin:0px 0 0 0;
	text-decoration:none;
}
#referrals .share-links {
	margin:40px 10px 20px;
}
#referrals .refer-box-top {
	background: url("ultra_images/share_header_bg.png") repeat-x scroll 0 0 !important;
	height: 44px;
	margin-top: 0;
	border-radius:5px;
}
#referrals .deal-info .deal-title {
	width:400px !important;
}
.inner_text_box ul li {
	list-style: disc inside none;
}
.deal_ofthe_day{ float:left; background: url("ultra_images/deal_ofthe_day.png") no-repeat scroll left 3px !important; float:left; width:18px; height:22px;}
.insta_deals{ float:left; background: url("ultra_images/insta_icon.png") no-repeat scroll left 0px !important; float:left; width:25px; height:22px;}
.deal_zone{ float:left; background: url("ultra_images/deal_zone_icon.png") no-repeat scroll left 5px !important; float:left; width:25px; height:22px;}
.upcoming_deals{ float:left; background: url("ultra_images/upcoming_icon.png") no-repeat scroll left 5px !important; float:left; width:25px; height:22px;}
.howit_works{ float:left; background: url("ultra_images/how_itworks_icon.png") no-repeat scroll left 3px !important; float:left; width:25px; height:22px;}
.deals_map{ float:left; background: url("ultra_images/deals_map_icon.png") no-repeat scroll left 3px !important; float:left; width:25px; height:22px;}
.business{ float:left; background: url("ultra_images/business_icon.png") no-repeat scroll left 4px !important; float:left; width:25px; height:22px;}
a.liteblue {background: url("ultra_images/buy_this_deal_bg.png") no-repeat scroll 0 0 !important; float:left; border:none !important;}
a.liteblue1 {background: url("ultra_images/more_deals_bg.png") no-repeat scroll 0 0 !important; float:left; border:none !important;}
.footer_right_view{ float:right; width:300px;}
.side_deal_link{background: url("ultra_images/see_the_deal.png") no-repeat scroll 0 0; padding: 12px 28px;color: #fff;float: left;margin: 0 0 20px; width:90px;}








